<%= form_tag(user_skill_path(@skills_user.id, @user.id), method: :put ) %>
<div class="form-group">
  <span><%= label_tag :details %></span>
  <span><%= text_area_tag :details, @skills_user.details %></span>
</div>
<span><%= submit_tag 'Update Skill' %></span>