<%= form_tag({controller: :skill, action: :add_skill_to_user}, method: :post) %>
<div class="col-md-8 col-md-offset-2 top-20 bottom-20">
  <div class="form-group">
    <label for="">Select a skill</label>
    <span><%= select_tag :name, options_from_collection_for_select( @skills, 'id', 'name', '1') %></span>
  </div>
  <div class="form-group">
    <label for="">Details</label>
    <span><%= text_area_tag :details, nil, class: 'form-control' %></span>
  </div>
  <span><%= submit_tag 'Add Skill', class: 'btn btn-primary' %></span>
</div>
