<div class="container">
  <div>
    <h2><%= @user.user_info.first_name %>'s Skills</h2>
  </div>
  <div class="row top-20">
    <div class="skill-user-index">
      <%= render 'index' %>
    </div>
      <strong><%= link_to 'Add another skill', new_user_skill_path(@user), remote: true, class: 'btn btn-primary' %></strong>
  </div>
</div>
<div id="skill-user-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-skill-user-modal" class="modal-content"></div>
  </div>
</div>