<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Create A Board Entry</h1>
      <p>Use this area to advertise the services and skills you are interested in bartering.</p>
      <p>The next page will allow you to explain the details of what you are looking for and services you can offer in exchange.  </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <%= form_tag boards_path do -%>
    
    <%= render 'form' -%>
    <%- end -%>
  </div>
</div>
