
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "board";
@import "spacing";

.notifier {
  position: fixed;
  z-index: 9999;
  top: 100px;
  right: 5%;
  width: 200px;
  background-color: #fff;
  box-shadow: 7px 7px #000;
  padding: 15px;
  opacity: 1;
}

.hide-notifier {
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}